.products-container {
  display: flex;
}

.products {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.search {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 20px;
}

.search-input {
  margin-right: 10px;
}
